<div class="integrations-page">
    <section class="main-integrations">
        <div class="points">
            <div class="point point-floating-1"></div>
            <!-- <div class="point point-floating-2"></div> -->
            <div class="point point-floating-3"></div>
            <div class="point point-floating-4"></div>
            <div class="point point-floating-5"></div>
            <div class="point point-floating-6"></div>
            <div class="point point-floating-7"></div>
            <div class="point point-floating-8"></div>
            <div class="point point-floating-9"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-md-8">
                    <div class="hero-text">
                        <h1>Intergrations</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="integration-items">
        <div class="points">
            <div class="point point-floating-1"></div>
            <!-- <div class="point point-floating-2"></div> -->
            <div class="point point-floating-3"></div>
            <div class="point point-floating-4"></div>
            <div class="point point-floating-5"></div>
            <div class="point point-floating-6"></div>
            <div class="point point-floating-7"></div>
            <div class="point point-floating-8"></div>
            <div class="point point-floating-9"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="integartion-map">
                        <img src="../../../assets/images/integration-map-01.png" alt="">
                        <div class="integration-map-title">
                            <p>omni saves chat conversations to customer profiles in your CRM and loads customer info from your CRM directly into the omni agent app. You can also integrate your own solution by using the omni API.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="title-common text-center">
                        <h4>
                            Connect omni to third party apps
                        </h4>
                        <p>Deliver the best customer experience by integrating Crisp with your favorite apps.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/blue-snow-1.png" alt="">
                        <h4>SNOWFLAKE</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/colmun-1.png" alt="">
                        <h4>REDSHIFT</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/my-sql-1.png" alt="">
                        <h4>MYSQL</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/blue-snow-1.png" alt="">
                        <h4>SNOWFLAKE</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/colmun-1.png" alt="">
                        <h4>REDSHIFT</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/my-sql-1.png" alt="">
                        <h4>MYSQL</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/blue-snow-1.png" alt="">
                        <h4>SNOWFLAKE</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/colmun-1.png" alt="">
                        <h4>REDSHIFT</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/my-sql-1.png" alt="">
                        <h4>MYSQL</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/blue-snow-1.png" alt="">
                        <h4>SNOWFLAKE</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/colmun-1.png" alt="">
                        <h4>REDSHIFT</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="integrations-common">
                        <img src="../../../assets/images/my-sql-1.png" alt="">
                        <h4>MYSQL</h4>
                        <p>Build complex alerts with dimension & metric criteria & receive email.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>
<div class="spacer"></div>