<nav id="sidebar">
    <ul class="list-unstyled components">
        <li class="active timeline-ico explore-icon">
            <a href="#" id="explorenode">
                <img src="../../../../../../assets/app-images/explore-images.svg" class="img-fluid"> Explore
            </a>
        </li>
        <li>
            <a href="#" id="addnode">
                <i class="fas fa-plus-square"></i> Add
            </a>
        </li>
        <li class="timeline-ico">
            <a href="#" id="timelinenode">
                <img src="../../../../../../assets/app-images/Hnet.com-image.svg" class="img-fluid"> Timeline
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-search"></i> Search
            </a>
        </li>
        <li class="setting">
            <a href="#" id="settingnode">
                <i class="fas fa-cog"></i> Setting
            </a>
        </li>
    </ul>
</nav>

<nav class="sidenav explore-sidenav">
    <div class="search-main">
        <input type="text" name="search" id="txtSearch" placeholder="">
        <i class="fas fa-search"></i>
    </div>
    <div id="divFilterPanel">
        <div id="channelBox" class="panel">
            <a href="#channelList" class="a-elem" data-toggle="collapse">
                <span class="arrow fa fa-caret-down"></span>Channel
            </a>
            <div id="channelList" class="collapse show">
                <div id="divSearchPanel" data-value="1">
                    <a href="#" class="dynamic-box">
                        <i class="fas fa-circle" style="color: #3da4ab;"></i> Display
                    </a>
                    <a href="#" class="dynamic-box">
                        <i class="fas fa-circle" style="color: #F6CD61;"></i> Email
                    </a>
                    <a href="#" class="dynamic-box">
                        <i class="fas fa-circle" style="color: #FE8A71;"></i> Search
                    </a>
                    <a href="#" class="dynamic-box">
                        <i class="fas fa-circle" style="color: #3B5998;"></i> TV
                    </a>
                    <a href="#" class="dynamic-box">
                        <i class="fas fa-circle" style="color: #854442;"></i> Other Offline
                    </a>
                </div>
            </div>
        </div>
        <div id="teamBox" class="panel">
            <a href="#teamList" class="a-elem collapsed" data-toggle="collapse"><span
                                class="arrow fa fa-caret-down"></span>Team</a>
            <div id="teamList" class="collapse">
                <div id="divTeamPanel" data-value="3">
                    <a href="#" class="dynamic-box">
                         Display
                    </a>
                    <a href="#" class="dynamic-box">
                         Email
                    </a>
                    <a href="#" class="dynamic-box">
                        Search
                    </a>
                    <a href="#" class="dynamic-box">
                         TV
                    </a>
                    <a href="#" class="dynamic-box">
                         Other Offline
                    </a>
                </div>
            </div>
        </div>
        <div id="dataToolBox" class="panel ">
            <a href="#dataList" class="a-elem collapsed" data-toggle="collapse"><span
                                class="arrow fa fa-caret-down"></span>Data Tool</a>
            <div id="dataList" class="collapse">
                <div id="divDataPanel" data-value="4">
                </div>
            </div>
        </div>
        <div id="ownerBox" class="panel" style="order:5">
            <a href="#ownerList" class="a-elem collapsed" data-toggle="collapse"><span
                                class="arrow fa fa-caret-down"></span>Owner</a>
            <div id="ownerList" class="collapse">
                <div id="divOwnerPanel" data-value="5">
                </div>
            </div>
        </div>
        <div id="tagsBox" class="panel" style="order:6">
            <a href="#tagsList" class="a-elem collapsed" data-toggle="collapse"><span
                                class="arrow fa fa-caret-down"></span>Tags</a>
            <div id="tagsList" class="collapse">
                <div id="divTagsPanel" data-value="6">
                </div>
            </div>
        </div>
        <div id="alertsBox" class="panel" style="order:7">
            <a href="#alertsList" class="a-elem collapsed" data-toggle="collapse"><span
                                class="arrow fa fa-caret-down"></span>Alerts</a>
            <div id="alertsList" class="collapse">
                <div id="divAlertsPanel" data-value="7">
                </div>
            </div>
        </div>
    </div>
</nav>