.title-field-content .row:first-child {
    margin-bottom: 30px;
}

.title-common h4 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 800;
    color: #111B47;
    text-align: center;
}

.title-field-content .newsparagraph {
    text-align: center;
}