<div class="createaccount-page">
    <section class="createaccount">
        <div class="points">
            <div class="point point-floating-1"></div>
            <div class="point point-floating-3"></div>
            <div class="point point-floating-5"></div>
            <div class="point point-floating-7"></div>
            <div class="point point-floating-9"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="hero-text">
                        <h1>Create an account</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="createaccount-form">
        <div class="points">
            <div class="point point-floating-2"></div>
            <div class="point point-floating-4"></div>
            <div class="point point-floating-6"></div>
            <div class="point point-floating-8"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <form class="main-createaccount-form" action="#">
                        <div class="form-row">
                            <div class="col-md-6 col-12 mb-4">
                                <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col-md-6 col-12 mb-4 ">
                                <input type="text" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                        <div class="mb-4">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="createaccount-btn">
                            <button class="btn">Continue</button>
                        </div>
                        <div class="already text-center">
                            <button class="btn">Already have a team?</button>
                        </div>
                        <div class="sign-in text-center">
                            <button class="btn">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="spacer"></div>