<div class="create-team-page">
    <section class="create-team">
        <div class="points">
            <div class="point point-floating-1"></div>
            <!-- <div class="point point-floating-2"></div> -->
            <div class="point point-floating-3"></div>
            <div class="point point-floating-4"></div>
            <div class="point point-floating-5"></div>
            <div class="point point-floating-6"></div>
            <div class="point point-floating-7"></div>
            <div class="point point-floating-8"></div>
            <div class="point point-floating-9"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="hero-text">
                        <h1>Create a New Team</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="create-mail">
        <div class="points">
            <div class="point point-floating-1"></div>
            <!-- <div class="point point-floating-2"></div> -->
            <div class="point point-floating-3"></div>
            <div class="point point-floating-4"></div>
            <div class="point point-floating-5"></div>
            <div class="point point-floating-6"></div>
            <div class="point point-floating-7"></div>
            <div class="point point-floating-8"></div>
            <div class="point point-floating-9"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form class="text-center create-form" action="#">
                        <div class="google-btn">
                            <button class="btn">
                                Create team with Google
                            </button>
                        </div>
                        <div class="or-label">or</div>
                        <div class="work-email">
                            <div class="work-label">Work Email</div>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email Here...">
                            <button type="submit" class="btn submit-btn">Create team with email</button>
                        </div>
                        <div class="already">
                            <button class="btn">Already have a team?</button>
                        </div>
                        <div class="sign-in">
                            <button class="btn">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="spacer"></div>
</div>