.setupteam {
    padding: 150px 0px 30px;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    color: #111B47;
    font-size: 96px;
    font-weight: 500;
    margin-bottom: 50px;
}

.setupteam-btn {
    text-align: center;
}

.setupteam-btn .btn {
    font-size: 24px;
    background-color: #111B47;
    font-weight: 400;
    color: #fff;
    height: 54px;
    line-height: 24px;
    width: 350px;
    border-radius: 50px;
}

.setupteam-btn .btn:hover {
    background-color: #5562D4;
    transition: all 0.1s ease 0.1s;
}

.main-setupteam-form {
    box-shadow: 0px 5px 34px 0px rgba(36, 36, 59, 0.15);
    border: 1px solid #d6e0ee;
    padding: 40px;
}

.main-setupteam-form .form-control {
    height: calc(1.5em + 0.75rem + 10px);
    border-radius: 50px;
}

.main-setupteam-form label {
    font-size: 20px;
    color: #596169 !important;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #596169 !important;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #596169 !important;
}

 ::placeholder {
    color: #596169 !important;
}