<div class="setupteam-page">
    <section class="setupteam">
        <div class="points">
            <div class="point point-floating-1"></div>
            <div class="point point-floating-3"></div>
            <div class="point point-floating-5"></div>
            <div class="point point-floating-7"></div>
            <div class="point point-floating-9"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="hero-text">
                        <h1>Set-up your team</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="createaccount-form">
        <div class="points">
            <div class="point point-floating-2"></div>
            <div class="point point-floating-4"></div>
            <div class="point point-floating-6"></div>
            <div class="point point-floating-8"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <form class="main-setupteam-form" action="#">
                        <div class="mb-4">
                            <label for="Companyname1">Company Name</label>
                            <input id="Companyname1" type="text" class="form-control">
                        </div>
                        <div class="mb-4">
                            <label for="CompanyInputEmail1">Omni Team Address</label>
                            <input id="CompanyInputEmail1" type="text" class="form-control">
                        </div>
                        <div class="setupteam-btn">
                            <button class="btn">Create Team</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="spacer"></div>