<footer class="main-footer ">
    <div class="row">
        <div class="col-md-4 col-sm-3 col-12">
            <div class="main-footer-logo">
                <a class="footer-logo d-flex align-items-center" href="#">
                    <svg width="46" height="45" viewBox="0 0 46 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="23" cy="22.5" rx="23" ry="22.5" fill="#3751FF"/>
                        <path d="M15.8125 13.6562C15.8125 13.104 16.2602 12.6562 16.8125 12.6562H22.9863C26.1808 12.6562 28.6542 13.5134 30.4065 15.2278C32.1772 16.9422 33.0625 19.357 33.0625 22.4723C33.0625 25.6061 32.1772 28.0394 30.4065 29.7722C28.6542 31.4866 26.1808 32.3437 22.9863 32.3437H16.8125C16.2602 32.3437 15.8125 31.896 15.8125 31.3437V13.6562Z" fill="url(#paint0_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="15.8125" y1="12.6562" x2="32.6269" y2="32.709" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white" stop-opacity="0.7"/>
                        <stop offset="1" stop-color="white"/>
                        </linearGradient>
                        </defs>
                        </svg>
                    <span class="logo-text">omni</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-12">
            <div class="footer-common">
                <div class="footer-title">
                    <h6>product</h6>
                </div>
                <ul class="footer-links">
                    <li><a href="/feature">Features</a></li>
                    <li><a href="/roadmap">Roadmap</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/whatsnew">What's new</a></li>
                    <li><a href="/integrations">Integrations</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-12">
            <div class="footer-common">
                <div class="footer-title">
                    <h6>Company</h6>
                </div>
                <ul class="footer-link">
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contactus">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-12">
            <div class="footer-common">
                <div class="footer-title">
                    <h6>Resources</h6>
                </div>
                <ul class="footer-link">
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/security">Security</a></li>
                    <!-- <li><a href="/pricing">Pricing</a></li> -->
                    <li><a href="/termsofuse">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="footer-copy-right">
                <h6>Copyright 2020 Omni</h6>
            </div>
        </div>
    </div>
</footer>