<section class="main-banner">
    <div class="points banner">
        <div class="point point-floating-1"></div>
        <!-- <div class="point point-floating-2"></div> -->
        <div class="point point-floating-3"></div>
        <div class="point point-floating-4"></div>
        <div class="point point-floating-5"></div>
        <div class="point point-floating-6"></div>
        <div class="point point-floating-7"></div>
        <div class="point point-floating-8"></div>
        <div class="point point-floating-9"></div>
    </div>
    <div class="main-hero">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="hero-common">
                        <div class="hero-text">
                            <h1>{{commonData.title}}</h1>
                            <p>{{commonData.description}}</p>
                        </div>
                        <form class="banner-form">
                            <div class="form-input">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email Here...">
                            </div>
                            <div class="sign-up">
                                <button type="submit" class="btn">
                                    sign up for free
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>