// .main-hero {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     max-width: 62%;
//     width: 100%;
//     margin: 0 auto;
//     z-index: 5;
// }
//main-component
.home-page .main-hero {
    max-width: 62%;
}

.main-hero {
    width: 100%;
    margin: 0 auto;
}

.main-banner {
    //height: 75vh;
    padding: 110px 0px 60px;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    color: #111B47;
    font-size: 96px;
    font-weight: 500;
    margin-bottom: 30px;
}

.hero-text p {
    margin: 0 auto;
    font-size: 18px;
}

.sign-up {
    margin-left: 30px;
}

.sign-up .btn {
    background-color: #111B47;
    color: #fff;
    padding: 7px 35px;
    text-transform: capitalize;
}

.banner-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.banner-form .form-control {
    padding: 5px 10px;
    min-width: 320px;
    width: 100%;
    height: calc(1.5em + 0.75rem + 4px);
}

// feature-component
.features-page .main-hero {
    max-width: 80%;
}