<div class="privacy-page">
    <section class="privacy">
        <div class="points">
            <div class="point point-floating-1"></div>
            <!-- <div class="point point-floating-2"></div> -->
            <div class="point point-floating-3"></div>
            <div class="point point-floating-4"></div>
            <div class="point point-floating-5"></div>
            <div class="point point-floating-6"></div>
            <div class="point point-floating-7"></div>
            <div class="point point-floating-8"></div>
            <div class="point point-floating-9"></div>
        </div>
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-md-10">
                    <div class="hero-text">
                        <h1>Privacy Overview</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-titlecontent [titledata]="titlecontentdata"></app-titlecontent>

</div>

<div class="spacer"></div>